@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  margin: 0px;
  /* scroll-padding-top: 4rem; */
  /* scrollbar-color: var(--orange-clr) rgba(255, 0, 0, 0);
  scrollbar-width: thin; */
}

:root{
  /* FONTS */
  --title: clamp(2rem, 5vw + 1rem, 2.5rem);
  --subtitle: clamp(1.3rem, 3vw + 1rem, 1.8rem);
  --text: clamp(.9rem, 4vw + 1rem, 1rem);
  --sm-text:  clamp(.6rem, 4vw + 1rem, .8rem);

  /* COLOURS */

  
}

body {
  display: flex;
  place-content: center;
}
.title{
  font-size: var(--title);
}
.subtitle{
  font-size: var(--subtitle);
}
.text{
  font-size: var(--text);
}
.sm-text{
  font-size: var(--sm-text);
}

